version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: myapp
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypass
    ports:
      - "3309:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d  # Thực thi script khởi tạo
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-prootpass"]
      interval: 5s
      timeout: 10s
      retries: 10
    networks:
      - app-network

  redis:
    image: redis:5.0.6
    ports:
      - "6379:6379"
    networks:
      - app-network
  app:
    build:
      context: .
      dockerfile: ./docker/java/Dockerfile
    container_name: spring_app
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/myapp?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: myuser
      SPRING_DATASOURCE_PASSWORD: mypass
      SPRING_LIQUIBASE_ENABLED: "true"
      SPRING_DEVTOOLS_RESTART_ENABLED: "true" # Bật tính năng hot reload
    volumes:
      - ./src/main/resources:/app/resources  # Mount thư mục Liquibase
      - ./src/main/resources/db/changelog:/app/resources/db/changelog:ro
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_spring
    ports:
      - "5672:5672" # Standard AMQP port
      - "15672:15672" # Management UI port
    environment:
      # Optional: set default user and password
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    restart: always

volumes:
  mysql_data:

networks:
  app-network:
    driver: bridge